<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" href="#">
      <span class="pull-left">
        <h4 class="list-group-item">Recipe Name</h4>
        <span class="list-group-item">Description</span>
      </span>
      <span class="pull-right">
        <img src="" alt="" class="img-thumbnail" style="max-height: 50px">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

