<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div style="display: flex; column-gap: 10px; margin-bottom: 10px">
    <button type="submit" class="btn btn-success" >Save</button>
    <button type="button" class="btn btn-danger" (click)="cancelRecipes($event)">Cancel</button>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      formControlName="name"
      name="name"
      type="text"
      class="form-control"
      id="name"
      aria-describedby="emailHelp"
    >
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert-danger">
      <div *ngIf="name?.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="name?.errors?.['minLength']">
        Name is short.
      </div>
    </div>
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
  </div>
  <div class="mb-3 edit__frame-picture">
<!--    <label for="imageUrl" class="form-label">Image</label>-->
    <button (click)="selectImage(imageInput)" type="button" class="btn btn-primary">Image</button>
    <input
      #imageInput
      name="image"
      type="file"
      class="form-control"
      id="imageUrl"
      (change)="changeInputImage($event)"
      style="display: none"
    >
    <img *ngIf="imageRecipe" [src]="imageRecipe | url" alt="image" #imageForm class="edit__image">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      formControlName="description"
      class="form-control"
      id="description"
      rows="3"
    ></textarea>
    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="alert-danger">
      <div *ngIf="description?.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="description?.errors?.['minLength']">
        Name is short.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button (click)="appendRecipe()" type="button" class="btn btn-primary">Add</button> Add new ingredient.
  </div>
  <ng-container formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredientsArr.controls; let i = index" [formGroupName]="i" class="row">
      <div class="col" >
        <label for="name-{{ i }}">Name:</label>
        <input
          formControlName="name"
          name="name"
          id="name-{{ i }}"
          type="text"
          class="form-control"
          aria-label="Name"
        >
      </div>
      <div class="col">
        <label for="amount-{{ i }}">Amount:</label>
        <input
          formControlName="amount"
          id="amount-{{ i }}"
          min="0"
          name="amount"
          type="number"
          class="form-control"
          aria-label="Amount"
        >
      </div>
      <div class="col" style="display: flex; align-items: end">
        <div style="display: flex; column-gap: 10px">
          <button (click)="deleteRecipe(i)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </ng-container>
</form>
