<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div style="display: flex; column-gap: 10px; margin-bottom: 10px">
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger">Cancel</button>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      formControlName="name"
      name="name"
      type="text"
      class="form-control"
      id="name"
      aria-describedby="emailHelp"
    >
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image</label>
    <input
      formControlName="imageUrl"
      name="image"
      type="text"
      class="form-control"
      id="imageUrl"
    >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <ng-container formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index" formGroupName="{{ i }}" class="row">
      <div class="col" >
        <label for="name-{{ i }}">Name:</label>
        <input
          name="name"
          id="name-{{ i }}"
          type="text"
          class="form-control"
          aria-label="Name"
        >
      </div>
      <div class="col">
        <!--      <label for="count-{{ i }}">Amount:</label>-->
        <!--      <input-->
        <!--        [formControlName]="ingredient.amount"-->
        <!--        id="count-{{ i }}"-->
        <!--        min="0"-->
        <!--        name="amount"-->
        <!--        type="number"-->
        <!--        class="form-control"-->
        <!--        aria-label="Amount"-->
        <!--      >-->
      </div>
      <div class="col" style="display: flex; align-items: end">
        <div style="display: flex; column-gap: 10px">
          <button (click)="appendRecipe()" type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </ng-container>
</form>
