<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">A-Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="link--active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item link__li">
          <a class="nav-link" routerLinkActive="active" routerLink="/recipe">Recipes</a>
        </li>
        <li routerLinkActive="link--active" class="nav-item link__li">
          <a class="nav-link" routerLinkActive="active" routerLink="/shopping">Shopping list</a>
        </li>
        <li routerLinkActive="link--active" class="nav-item link__li">
          <button (click)="clickDynamic()" class="btn btn-link" >Dynamic Alert</button>
        </li>
      </ul>
      <div appDrop class="nav-item dropdown" data-bs-toggle="dropdown">
        <a *ngIf="!user.name; else Userlogin" class="nav-link" [routerLink]="[]" [queryParams]="{login: 'login'}">Login</a>

        <ng-template #Userlogin>
          <button class="btn btn-link" >
            <span style="padding-right: 15px">{{user.name}}</span>
            <ng-container *ngIf="user.avatar">
              <img width="25" height="25" style="{object-fit: cover}" [src]='user.avatar | url' alt="avatar">
            </ng-container>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="nav-link" href="#">My Recipe</a></li>
            <li><button (click)="logoutUser($event)" type="button" class="btn btn-link">Logout</button></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<app-auth [popupLogin]=popupLogin></app-auth>
<app-error></app-error>
<app-spinner></app-spinner>
<ng-template appAlert></ng-template>
