<div *ngIf="popupLogin" class="popup__zone" (click)="closePopUp($event)">
  <div class="popup popup-auth">
    <div class="popup__x-close"></div>
    <div class="popup-auth__frame">
      <h5 class="popup-auth__h popup-auth__h--large">
        <ng-container *ngIf="popupLogin === 'login'">Login</ng-container>
        <ng-container *ngIf="popupLogin === 'registration'">Registration</ng-container>
      </h5>
      <div class="row">
        <div class="popup-auth__cell-switch">
          <button (click)="switchMode('login')" type="button" class="btn btn-primary">Login</button>
          <button (click)="switchMode('registration')" type="button" class="btn btn-primary">Registration</button>
        </div>

        <ng-container *ngIf="popupLogin === 'login'">
          <div class="mb-3">
            <label for="emailLogin" class="form-label">Email:</label>
            <input type="email" class="form-control" id="emailLogin" placeholder="Name@example.com">
          </div>
          <div class="mb-3">
            <label for="passwordLogin" class="form-label">Password:</label>
            <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-success">Ok</button>
            <button type="button" class="btn btn-warning">Clean</button>
          </div>
        </ng-container>

        <ng-container *ngIf="popupLogin === 'registration'">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="nameReg" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="nameReg"
                name="name"
                placeholder="Name"
                formControlName="name"
              >
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                   class="alert-danger">
                <div *ngIf="name?.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="name?.errors?.['minlength']">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="emailReg" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="emailReg"
                name="email"
                placeholder="Name@example.com"
                formControlName="email"
              >
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                   class="alert-danger">

                <div *ngIf="email?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="email?.errors?.['email']">
                  Email must correct format.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="passwordReg" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="passwordReg"
                name="password"
                placeholder="Password"
                formControlName="password"
              >
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                   class="alert-danger">
                <div *ngIf="password?.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="password?.errors?.['minlength']">
                  Password must be at least 5 characters long.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <button
                type="button"
                class="btn btn-success"
                (click)="clickAvatar(fileAvatar)"
              >Avatar</button>
              <input
                type="file"
                class="form-control"
                name="avatar"
                style="display: none"
                (change)=loadAvatar($event)
                #fileAvatar
              >
              <img [ngClass]="{ 'popup-auth__avatar--show': avatar }" #avatarImg alt="avatar" class="popup-auth__avatar">
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!profileForm.valid"
              >Send</button>
              <button (click)="profileReset()" type="reset" class="btn btn-warning">Clean</button>
            </div>
          </form>
        </ng-container>

      </div>
    </div>
  </div>
</div>


